<!DOCTYPE html>
<html>
  <head>
    <title>Friend Memos</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=1">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>Friend Memos</h1>
      </div>
      <a class="btn" href="/auth/facebook">Login with Facebook</a>
    </div> <!-- /container -->
  </body>
</html>
<!DOCTYPE html>